/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
}


// Overrides for material styles
.mat-form-field-wrapper {
  padding: 0;
}

.mat-card {
  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-card-header {
    .mat-card-header-text,
    .mat-card-title {
      width: 100%;
    }

    .mat-card-header-text {
      margin: 0;
    }

    .mat-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
  }
}


